@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');
body{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
.floatButton{
  position: fixed;
  bottom:20px;
  right: 30px;
  z-index: 99;
  display: flex;
  flex-direction: column;

}
.callButton{
  display: inline-block; /* or use "block" if necessary */
  animation: vibrate 0.5s infinite;
}
@keyframes vibrate {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-2px, -2px) rotate(-5deg);
  }
  20%, 40%, 60%, 80% {
    transform: translate(2px, 2px) rotate(5deg);
  }
}
