.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this to fit your use case */
    background-color: antiquewhite; /* Adjust the background color as needed */
  }
  
  .loader img {
    /* Customize the size and styling of the logo or animation */
    width: 30vh;
    height: 20vh;
    
    animation:scale 2s linear ;
    background-color: antiquewhite;
    
  }

  @keyframes scale {

    0% {
        transform: scale(1) translate(0, 0);
    }
    50%{
      transform: scale(1.5) translate(0, 0);
    }
    80%{
      transform:translate(0,0)
    }

    100% {
        transform :scale(99)translate(0, 0);
    }
  }