.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this to fit your use case */
    background-color: #9e9f9f; /* Adjust the background color as needed */
  }
  
  .loader img {
    /* Customize the size and styling of the logo or animation */
    width: 80px;
    height: 50px;
    
    animation:scale 3s linear ;
    background-color: #9e9f9f;


    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  }

  @keyframes scale {

    0% {
        transform: scale(1) translate(0, 0);
    }
    50%{
      transform: scale(1.5) translate(0, 0);
    }
    80%{
      transform:translate(0,0)
    }

    100% {
        transform :scale(99)translate(0, 0);
    }
  }